*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-box{
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(7, auto);
}